


p {
  font-family: "Poppins", sans-serif !important;


}

h1 {

  font-family: "Rammetto One", serif !important;
}

h3 {

  font-family: "Poppins", sans-serif !important;
}

h2 {

  font-family: "Rammetto One", serif !important;
}



.bg-blue {
  background-color: #EAF7FF;
}

.borderRadius{
  border-radius: 20px;
}


.bg-white {
  background-color: white;
}

.text-block {
  margin-bottom: 14rem;
}

.pititext-block {
  margin-bottom: 7rem;
}


@media(max-width:1024px) {
  

  #imgBackgound{
    margin-top: 10vh;

  }

 

}
